{% extends "layout.html" %}

{% block head %}
    <link href="static/plans.css" rel="stylesheet">
    <script src="static/plans.js"></script>
{% endblock %}
{% block title %}Future Plans{% endblock %}

{% block body %}

    <div class="container">
        <div class="mb-3">
            <textarea class="form-control" id="itemInput" rows="3" placeholder="Add an item (Press Enter to submit, press Shift + Enter to start a new line)" autofocus></textarea>
        </div>
        <div>
            <label for="range1" class="form-label">Importance</label>
            <input type="range" class="form-range" id="range1">
            <p class="out">Value: <span id="out1"></span></p>
        </div>
        <div>
            <label for="range2" class="form-label">Urgency</label>
            <input type="range" class="form-range" id="range2">
            <p class="out">Value: <span id="out2"></span></p>
        </div>
        <p id="warningOut"></p>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3" onclick="addItem(event)">Add Item</button>
        </div>

        <div class="scatter" id="plot">
            <img src="static/assets/scatter.png" id="img-bg" class="img-fluid">
        </div>
    </div>
    
{% endblock %}