<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="static/styles.css" rel="stylesheet">
        <script src="static/prom.js"></script>
        <title>Prom?</title>
    </head>

    <body>
        <div style="font-family: MonomaniacOne; display: flex;width: 100vw;height: 100vh;flex-direction: column;justify-content: space-evenly;flex-wrap: wrap;align-items: center;">
            <button style ="width: 10%; height: 10%;" id = "ye">YE</button>
            <div style="position: absolute; width: 11.7647%;height: 11.7647%;align-items: center;display: flex;justify-content: center;margin: 0;" id = "nah">
                <button style="width: 85%; height: 85%; z-index: -1;">Nah</button>
            </div>
        </div>
    </body>

 </html>