{% extends "layout.html" %}

{% block head %}
    <link href="static/tnw.css" rel="stylesheet">
    <script src="static/tnw.js"></script>
{% endblock %}

{% block title %}Time and Weathe{% endblock %}

{% block body %}

    <div class="flex-container">

        <div class="flex-child outer">
            <h2>New Orleans, LA, USA</h2>
            <div class="time-flex" id="flex-time1"></div>
            <div class="flex-child">
                <div class="weather" id="temp-1">
                    <div class="weather-content num" id="temp-out-1"></div>
                    <div class="weather-content txt" id="temp-out-1txt"></div>
                </div>
                <div class="weather" id="precip-1">
                    <div class="weather-content num" id="precip-out-1"></div>
                    <div class="weather-content txt" id="precip-out-1txt"></div>
                </div>
                <div class="weather" id="clim1"">
                    <img src="static/assets/weather-icons/celsius.svg"  class="img-fluid" id="clim-out-1">
                    <div class="weather-content txt" id="clim-out-1txt"></div>
                </div>
            </div>
        </div>

        <div class="flex-child outer">
            <h2>Singapore</h2>
            <div class="time-flex" id="flex-time2"></div>
            <div class="flex-child">
                <div class="weather" id="temp-2">
                    <div class="weather-content num" id="temp-out-2"></div>
                    <div class="weather-content txt" id="temp-out-2txt"></div>
                </div>
                <div class="weather" id="precip-2">
                    <div class="weather-content num" id="precip-out-2"></div>
                    <div class="weather-content txt" id="precip-out-2txt"></div>
                </div>
                <div class="weather" id="clim1"">
                    <img src="static/assets/weather-icons/celsius.svg" class="img-fluid" id="clim-out-2">
                    <div class="weather-content txt" id="clim-out-2txt"></div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}