{% extends "layout.html" %}

{% block head %}
    <link href="static/to-do.css" rel="stylesheet">
    <script src="static/to-do.js"></script>
{% endblock %}

{% block title %}To-do{% endblock %}
    
{% block body %}

    <div class="container">
        <div class="mb-3">
            <textarea class="form-control" id="taskInput" rows="3" placeholder="Add a task (Press Enter to submit, press Shift + Enter to start a new line)" autofocus></textarea>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3" onclick="addTask(event)">Add Task</button>
        </div>
        <p id="warningOut"></p>

        <header>
            <h3>Focus:</h3>
        </header>
        <div id="focusList" class="list-group">
        </div>

        <header>
            <h3>To-Do(Click to focus):</h3>
        </header>
        <div id="toDoList" class="list-group">
        </div>

        <header>
            <h3>Done:</h3>
        </header>
        <div id="doneList" class="list-group">
        </div>
    </div>

{% endblock %}